@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  h1 {
    @apply font-bold text-3xl
  }

  h2 {
    @apply font-bold text-lg
  }

  h3 {
    @apply font-bold text-lg
  }

  h4 {
    @apply text-base
  }

  .panel {
    @apply bg-neutral-950/50 rounded-lg p-6 border-[1px] border-neutral-800 backdrop-blur-lg drop-shadow-[0_0px_9px_rgba(0,0,0,1.0)]
  }

  p {
    @apply text-neutral-400 text-sm
  }

  .grid-center {
    @apply col-start-1 col-end-1 row-start-1 row-end-1
  }

  body{
    @apply !bg-[rgb(0,0,0)]
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
